body {
    margin: 1;
    font-family: arial , helvetica, sans-serif;
    background-color:black;
    color: whitesmoke;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    padding: 2em;
}